services:
  postgres:
    image: postgres:15
    container_name: postgres-local
    restart: always
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=root
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: postgres -c listen_addresses='*'
    networks:
      - mi-red

  pgadmin:
    image: dpage/pgadmin4:2025-10-13-1
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - mi-red

volumes:
  postgres_data:

networks:
  mi-red:
    driver: bridge